crash-reports
logs
saves
mods
BotaniaVars.dat
*.zip
client-addons
server-addons
XaeroWaypoints
config/InvTweaksRules.txt
config/InvTweaksTree.txt
tv-cache
crafttweaker.log
config/xaerominimap.txt
config/xaeropatreon.txt
hotbar.nbt
options.txt
servers.dat
usercache.json
usernamecache.json
config/thaumicjei_itemstack_aspects.json
config/jei/worldSettings.cfg
photo-frame-cache
patchouli_data.json